.HeroBox {
  position: absolute;
  background-color: #142850;
  top: 0px;
  float: right;
  right: 0;
  width: 25%;
  height: 480px;
  border-radius: 5px;
  overflow: hidden;
}

.cardDiv {
  text-align: center;
  font-size: 20px;
  position: relative;
  border: 20px;
  background-color: #ff847c;
  width: 90%;
  height: 18%;
  margin: 3px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 9px;
}

.cardImage {
  position: absolute;
  width: 40px;
  height: 100%;
  float: right;
  top: 0;
  right: 0;
  border-radius: 5px;
}
